doctype html
head
    title {{{ PRODUCT_NAME }}}
    meta(charset='utf-8')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    link(rel='shortcut icon' href='TemplateData/favicon.ico')
    link(rel='stylesheet' href='TemplateData/style.css')
    | #if SHOW_DIAGNOSTICS
    link(rel='stylesheet' href='<<<TemplateData/diagnostics.css>>>')
    script(src='<<<TemplateData/diagnostics.js>>>')
    | #endif
    link(rel='stylesheet' href='shell/styles.css')
    script(src='shell/scripts.js' defer='')
body
    #unity-container.unity-desktop
        canvas#unity-canvas(width="{{{ WIDTH }}" height="{{ HEIGHT }}}" tabindex="-1")
        #unity-loading-bar
            #unity-logo
            #unity-progress-bar-empty
                #unity-progress-bar-full
        #unity-warning
    include views/quick_actions_menu
    //include views/game_rules_dialog
    include views/game_rules_modal_v2
    include views/language_modal
    include views/error_modal
    include views/quit_modal
    include views/unity-inline-script
