body { padding: 0; margin: 0; background-color:#222;}
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 5%; top: 0%;width: 100%; height: 100%   }
#unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-desktop #unity-canvas { width: 90%; height: 90% }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('/uroc_favicon_192x192px.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-logo-title-footer { float:left; width: 102px; height: 38px; background: url('unity-logo-title-footer.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
#game-sidebar{position: absolute; right: 0%; top: 0%;}
.sidebar-logo{width:64px;}


body {
    background: #231f20;
}

aside.ui {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.1);
    display: inline-flex;
    flex-direction: column;
    padding: 1rem 0.5rem 0 0.5rem;
    border-radius: 0 0 0 10px;
}

aside.mobile{
    left: 0;
    right: auto !important;
}

aside.ui .toggle,
aside.ui a,
aside.ui button {
    height: 40px;
    width: 40px;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 0;
    margin: 0 0 1rem 0;
}

aside.ui svg {
    color: white;
    max-width: 40px;
    max-height: 40px;
}

aside.ui .toggle input[type=checkbox]{
    position: absolute;
    z-index: -1;
    visibility: hidden;
}

aside.ui .toggle svg {
    display: none;
}

aside.ui .toggle input[type="checkbox"]:checked ~ svg.on {
    display: block;
}

aside.ui .toggle input[type="checkbox"]:not(:checked) ~ svg.off {
    display: block;
}

aside.ui .sub-menu {
    position: relative;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-in-out;
}

aside.ui .sub-menu.open {
    grid-template-rows: 1fr;
}

aside.ui .sub-menu-inner {
    overflow: hidden;
}
