section
    h2(class="color-secondary") BUY FEATURE
    p
        | Selecting 'Buy Feature' opens a menu where you can choose bet settings to purchase the feature.
    p
        | After the Buy Feature is completed, the bet will remain the same as the one selected during the purchase.