section
    //LOCALIZATION h2(class="color-secondary") Paylines
    h2(class="color-secondary") Lines
    p
        | All wins award left to right on adjacent reels. Winning combinations begin with the leftmost reel. Only highest win awarded per line.
    img(style="width: min(1024px, 100%)" src=`${my_template_config.asset_domain}/games/miami_blaze/paylines.svg?updatedAt=${my_template_config.cache_bust_params}`)