p
    | To begin, select a bet amount and then click the Spin button. This will
    | begin the play session.
h2(style='text-align:center' class="color-secondary") About the Game
p
    | #{game_name} is a casino game that consists of a 3x3 grid of tiles that rotate each spin.
p
    | The middle horizontal row is a single win line that must be full to trigger the Hold For Gold game.
    | Icons that appear on any other positions on the game board only trigger if this win line is full.
p
    | Once triggered, the player has three (3) opportunities to hit another symbol in any
    | of the blank positions to continue winning.
    | If an additional symbol is spun into play, the counter is reset to 3 and play continues.
p
    | If the player runs out of spins, the Hold For Gold game is over and the player collects all the
    | amounts on the screen. Good luck!
h2(style='text-align:center' class="color-secondary") Game Panel
h3 Balance
p This displays the total balance.
h3 Bet value
p
    | This displays the value of the current bet. Choose how much you want
    | to bet on each round by pressing the up or down button. If you press play without
    | having selected bet value and number of mines the game will either start with
    | the default values, or your selected values from the previous game round.
h3 Number of mines
p
    | This displays the number of mines on the grid. Use the - or + button
    | to set an amount between 1 and 24. The amounts available are 1, 2, 5, 10, 20
    | and 24.
h3 Play
p Press the PLACE BET button to start the game.
h3 Cash out
p
    | Once the game round has started, the play button turns into the cash out
    | button. Press this button to end the round. After each successful reveal, the
    | button will display the total win if you choose to cash out at that time.
h3 Win field
p
    | When the game round ends with a cash out, the total win is indicated
    | in the chosen currency. The win field is located above the balance field.
h2(style='text-align:center' class="color-secondary") How to play
h3 Start the game
p
    | Start by setting bet value and choosing
    | number of mines between 1 and 24. The maximum potential win for the chosen combination
    | of bet value and number of mines will be indicated on the bottom of the game
    | panel.
h3 Jackpot Triggers
p
    | There are teeth and mines under the tiles.
    | Click on any tile to reveal a tooth, and with each tooth found your total winnings
    | increase. You can cash out after a successful reveal or choose to stay in the
    | game. The cash out button will indicate the current payout if you choose to finish
    | the round.
h3 Beware the mines
p
    | If you happen upon a mine, your progress
    | thus far is lost. The game ends and you can start over.
h3 Mechanics of the game
p
    | The following sections explain the underlying mechanics of the
    | game. The base of all mine games is that there are TEETH and MINES. Teeth award
    | a multiplier to the player&apos;s bet, while mines result in the player&apos;s loss of
    | the bet.
h2(style='text-align:center' class="color-secondary") Information and paytable
h3 RTP (Return to Player)
p
    | &quot;Return to player&quot; is the percentage of all bets returned to the players of
    | a game in the long run. The return to player (RTP) is a value 96% depending over
    | long term play.
h3 Grid Picks
p
    | The grid is randomly determined at the start
    | of the game and tile choices align with the initial grid layout.
br
br
img(src='https://ik.imagekit.io/bmp6bnlpn/games/ZOMBIES/paylines.svg?updatedAt=1750850155416')
br
br
br
br
br
