section
    h2(class="color-secondary") GENERIC RULES
    p
        | To begin, select a bet amount and then click the spin button. This will begin the play session.
    p
        | Pressing slam stop stops the reels.
    p
        | Payouts are made according to the Paytable.
    p
        | The bottom won field always displays winnings in real money.
    p
        | This game doesn't support multiple windows open at once.
    p
        | On Desktop,Space Bar can be used to spin.
    p
        | For the best game play experience in the mobile devices, play in landscape mode.