section
    h2(class="color-secondary") Bonus Game
    p Get 6 or more COIN symbols in the base game to trigger the Hold For Gold bonus.
    p The coin symbols that trigger the bonus will carry over into the bonus game with their awarded values.
    p The remaining positions will be vacant for other symbols to land during the bonus game.
    p At the start of the bonus, the player is awarded 3 re-spins. During the re-spins, if any symbol lands on a vacant position, the re-spin count resets to 3.
    p The bonus ends when all re-spins are used up or all vacant positions on the game board are filled.
    br

    h3(class='color-secondary') MYSTERY BOX
    img(class='symbol' src=`${my_template_config.asset_domain}/games/miami_blaze/symbols/symbol-MYSTERY.webp?updatedAt=${my_template_config.cache_bust_params}`)
    p MYSTERY BOX award random prizes like multipliers, Jackpots or The Vortex.
    br

    h3(class='color-secondary') MULTIPLIER FEATURE
    p A Mystery Box can award a multiplier between 1x and 9x of the Play amount that triggered the Hold For Gold feature.
    br

    h3(class='color-secondary') JACKPOT FEATURE
    p A Mystery Box can award the MINI, MINOR, or MAJOR Jackpot.
    p Landing a Jackpot symbol can also trigger the MINI, MINOR, or MAJOR Jackpot.
    p Once all vacant positions are filled with symbols during the Hold For Gold feature, the GRAND Jackpot is awarded.
    br

    h3(class='color-secondary') VORTEX FEATURE
    p The Mystery Box may award the VORTEX feature, which collects and awards the total value of all coin symbols on the board.