section
    h2(class="color-secondary") Bonus Game
    p
        | Get 6 or more COIN symbols in the base game to trigger the Hold For Gold bonus.
    p
        | The coin symbols that trigger the bonus will carry over into the bonus game with their awarded values.
    p
        | The remaining positions will be vacant for other symbols to land during the bonus game.
    p
        | At the start of the bonus, the player is awarded 3 re-spins. During the re-spins, if any symbol lands on a vacant position, the re-spin count resets to 3.
    p
        | The bonus ends when all re-spins are used up or all vacant positions on the game board are filled.
    br
    h3(class='color-secondary') MYSTERY BOX
    p
        | MYSTERY BOX award random prizes like multipliers, Jackpots or The Vortex.

    h3(class='color-secondary') MULTIPLIER FEATURE
    h3(class='color-secondary') JACKPOT FEATURE
    h3(class='color-secondary') THE VORTEX FEATURE