section
    h2(class="color-secondary") Paytable
    p
        | Paytable amounts displayed are based on current bet selected.
    .grid.paytable

    .symbol-explainer
        .column
            img(src='https://ik.imagekit.io/bmp6bnlpn/games/miami_blaze/symbols/symbol-WC.png?updatedAt=1752246761900')
        .column.content
           p
            | WILD Symbol appear on all reels
            br
            | WILD substitutes all symbols except COIN symbol
    .symbol-explainer
        .column
            img(src='https://ik.imagekit.io/bmp6bnlpn/games/miami_blaze/symbols/symbol-COIN.png?updatedAt=1752246761900')
        .column.content
           p
            | COIN Symbol appear on all reels
            br
            | COIN substitutes all symbols except COIN symbol
    .symbol-explainer
        .column
            img(src='https://ik.imagekit.io/bmp6bnlpn/games/miami_blaze/symbols/symbol-GOLD_COIN.png?updatedAt=1752246761900')
        .column.content
            p
              | GOLDEN COIN Symbol appear on all reels
              br
              | GOLDEN COIN substitutes all symbols except COIN symbol
    .symbol-explainer
        .column
            img(src='https://ik.imagekit.io/bmp6bnlpn/games/miami_blaze/symbols/symbol-MYSTERY.png?updatedAt=1752246761900')
        .column.content
           p
            | MYSTERY symbol appears only during the bonus and can land on any vacant position on any reel.
            br
            | MYSTERY Symbol can result in either MULTIPLIER or JACKPOT or THE VORTEX Feature.