section
    h2(class="color-secondary") PLAY FEATURE
    p
        | Selecting 'Play Feature' opens a menu where you can choose Play amount settings to purchase the feature.
    p
        | After the 'Play Feature' is completed, the Play amount will remain the same as the one selected during the purchase.