section
    h2(class="color-secondary") About the Game
    p
        | {{{ PRODUCT_NAME }}} is a game with 5x3 reels and 20 Winning Lines.
    p
        | RTP : <span class="bind rtp">XX.XX%</span>
    p
        | Play Feature RTP : XX.XX%