section
    h2(class="color-secondary") AUTO PLAY
    p
        | Press the Auto Play button, select the number of spins, then press START to begin.
    p
        | Auto Play is deactivated when a bonus or feature is triggered
    p
        | Press STOP to cancel Auto Play