section
    h2(class="color-secondary") HOW TO PLAY
    p
        | <ICON> Opens the bet menu. Select the bet you want to use in the game.
    p
        | <ICON> Opens the auto play menu.
    p
        | <ICON> Opens the game rules page.
    p
        | <ICON> Starts the game play.
    p
        | <ICON> Slam stops the current spin.
    p
        | <ICON> Toggle sound ON/OFF.
    p
        | <ICON> Select between Normal, Fast, and Ultra Spin modes.
    p
        | BALANCE and BET labels show the current balance and total bet.