section
    h2(class="color-secondary") About the Game
    p
        | {{{ PRODUCT_NAME }}} is a slot game with 5x3 reels and 20 paylines.
    p
        | RTP : <span class="bind rtp">XX.XX%</span>
    p
        | Buy Feature RTP : XX.XX%