section
    h2(class="color-secondary") Paylines
    p
        | All wins pay left to right on adjacent reels. Winning combinations begin with the leftmost reel. Only highest win paid per line.
    img(style="padding:0 1em" src='https://ik.imagekit.io/bmp6bnlpn/games/miami_blaze/paylines.svg?updatedAt=1751620846337')