section
    h2(class="color-secondary") TURBO SPIN MODE
    p
        | Pressing Turbo button switches between NORMAL, FAST and ULTRA spin modes
    p
        | FAST and ULTRA spin modes shorten the spin duration.