dialog#game_rules.fugaso
    header GAME RULES
    .content
        .column
            include game_rules
    footer
        button.cta(onclick='GameShell.close_dialog_by_id("game_rules")') CLOSE