include game_rules_01_intro
br
include game_rules_02_paytable
br
include game_rules_03_bonus_game
br
include game_rules_04_paylines
br
include game_rules_05_buy_feature
br
include game_rules_06_turbo_spin_mode
br
include game_rules_07_auto_play
br
include game_rules_08_how_to_play
br
include game_rules_09_generic_rules
br
include game_rules_10_disclaimer
br