dialog#language_modal.fugaso
    header CHOOSE YOUR LANGUAGE
    .content
        .column.center-center
            button.nav-previous(onclick="GameShell.previous_language()") ❮
            img.flag(src="https://ik.imagekit.io/bmp6bnlpn/flags/en.svg?updatedAt=1750776194371")
            button.nav-next(onclick="GameShell.next_language()") ❯
    label ENGLISH
    footer
        button.cta(onclick="GameShell.close_language_modal(true)") CANCEL
        button.cta.success(onclick="GameShell.update_language()") OK