dialog#language_modal.fugaso
    header CHOOSE YOUR LANGUAGE
    .content
        .column.center-center
            button.nav-previous(onclick="GameShell.previous_language()") ❮
            img.flag(src=`${my_template_config.asset_domain}/flags/en.svg?updatedAt=${my_template_config.cache_bust_params}`)
            button.nav-next(onclick="GameShell.next_language()") ❯
    label ENGLISH
    footer
        button.cta(onclick="GameShell.close_language_modal(true)") CANCEL
        button.cta.success(onclick="GameShell.update_language()") OK