aside#game-ui-shell {
    visibility: visible !important;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.1);
    display: inline-flex;
    flex-direction: column;
    padding: 1rem 0.5rem 0 0.5rem;
    border-radius: 0 0 0 10px;
}

aside#game-ui-shell .toggle,
aside#game-ui-shell a,
aside#game-ui-shell button {
    height: 40px;
    width: 40px;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 0;
    margin: 0 0 1rem 0;
    outline: none;
}

aside#game-ui-shell svg {
    color: white;
    max-width: 40px;
    max-height: 40px;
}

aside#game-ui-shell .toggle input[type=checkbox]{
    position: absolute;
    z-index: -1;
    visibility: hidden;
}

aside#game-ui-shell .toggle svg {
    display: none;
}

aside#game-ui-shell .toggle input[type="checkbox"]:checked ~ svg.on {
    display: block;
}

aside#game-ui-shell .toggle input[type="checkbox"]:not(:checked) ~ svg.off {
    display: block;
}

aside#game-ui-shell .sub-menu {
    position: relative;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-in-out;
}

aside#game-ui-shell [data-callback="toggle_menu"]:has(input:checked) ~ .sub-menu,
aside#game-ui-shell .sub-menu.open {
    grid-template-rows: 1fr;
}

aside#game-ui-shell .sub-menu-inner {
    overflow: hidden;
}

#dialog-quit-confirm[open]{
    display: flex;
}

#dialog-quit-confirm::backdrop {
    background: rgba(0,0,0,0.92);
}

#dialog-quit-confirm {
    position: fixed;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    color: white;
    font-family: sans-serif, Arial, system-ui;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;

    footer {
        display: flex;
        gap: 2rem;
    }

    button {
        cursor: pointer;
        background: white;
        color: black;
        border: none;
        border-radius: 30px;
        padding: 1rem 2rem;
        font-size: 0.8em;
        margin: 2rem auto;
        width: max(220px, 20vw);
    }

    button.success {
        background: #8BC34A;
    }
}