dialog#game_rules.action(onclick="GameShell.hide_game_rules()")
    .panel(style='translate: none; rotate: none; scale: none; transform: translate(0px, 0px);')
        .lib-icon-close(onclick="GameShell.hide_game_rules(true)")
            svg(viewbox='0 0 160 160' fill='none' xmlns='http://www.w3.org/2000/svg' width='100%')
                path(d='M152 8L8 152' stroke='currentColor' stroke-width='16' stroke-linecap='round' stroke-linejoin='round')
                path(d='M152 152L8 8' stroke='currentColor' stroke-width='16' stroke-linecap='round' stroke-linejoin='round')
        .content
            include game-rules
        footer
            div
                .lib-icon-button.color-secondary(title='Info' size='x2')
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                        path(fill='currentColor' d='M224 152c0-13.2 10.8-24 24-24h16c13.2 0 24 10.8 24 24v16c0 13.2-10.8 24-24 24h-16c-13.2 0-24-10.8-24-24v-16z')
                        path(fill='currentColor' d='M320 384h-128v-32h32v-96h-32v-32h96v128h32z')
                        path(fill='currentColor' d='M256 0c-141.385 0-256 114.615-256 256s114.615 256 256 256 256-114.615 256-256-114.615-256-256-256zM256 464c-114.875 0-208-93.125-208-208s93.125-208 208-208 208 93.125 208 208-93.125 208-208 208z')
            div
                .lib-icon-button(title='Multipliers' size='x2')
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 256 256')
                        path(fill='currentColor' d='M184,89.57V84c0-25.08-37.83-44-88-44S8,58.92,8,84v40c0,20.89,26.25,37.49,64,42.46V172c0,25.08,37.83,44,88,44s88-18.92,88-44V132C248,111.3,222.58,94.68,184,89.57ZM232,132c0,13.22-30.79,28-72,28-3.73,0-7.43-.13-11.08-.37C170.49,151.77,184,139,184,124V105.74C213.87,110.19,232,122.27,232,132ZM72,150.25V126.46A183.74,183.74,0,0,0,96,128a183.74,183.74,0,0,0,24-1.54v23.79A163,163,0,0,1,96,152,163,163,0,0,1,72,150.25Zm96-40.32V124c0,8.39-12.41,17.4-32,22.87V123.5C148.91,120.37,159.84,115.71,168,109.93ZM96,56c41.21,0,72,14.78,72,28s-30.79,28-72,28S24,97.22,24,84,54.79,56,96,56ZM24,124V109.93c8.16,5.78,19.09,10.44,32,13.57v23.37C36.41,141.4,24,132.39,24,124Zm64,48v-4.17c2.63.1,5.29.17,8,.17,3.88,0,7.67-.13,11.39-.35A121.92,121.92,0,0,0,120,171.41v23.46C100.41,189.4,88,180.39,88,172Zm48,26.25V174.4a179.48,179.48,0,0,0,24,1.6,183.74,183.74,0,0,0,24-1.54v23.79a165.45,165.45,0,0,1-48,0Zm64-3.38V171.5c12.91-3.13,23.84-7.79,32-13.57V172C232,180.39,219.59,189.4,200,194.87Z')

            div
                .lib-icon-button(title='Settings' size='x2')
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                        path(fill='currentColor' d='M466.895 305.125c-26.863-46.527-10.708-106.152 36.076-133.244l-50.313-87.146c-14.375 8.427-31.088 13.259-48.923 13.259-53.768 0-97.354-43.873-97.354-97.995h-100.629c0.133 16.705-4.037 33.641-12.979 49.126-26.862 46.528-86.578 62.351-133.431 35.379l-50.312 87.146c14.485 8.236 27.025 20.294 35.943 35.739 26.819 46.454 10.756 105.96-35.854 133.112l50.313 87.146c14.325-8.348 30.958-13.127 48.7-13.127 53.598 0 97.072 43.596 97.35 97.479h100.627c-0.043-16.537 4.136-33.285 12.983-48.609 26.818-46.453 86.388-62.297 133.207-35.506l50.313-87.145c-14.39-8.233-26.846-20.249-35.717-35.614zM256 359.666c-57.254 0-103.668-46.412-103.668-103.667 0-57.254 46.413-103.667 103.668-103.667s103.666 46.413 103.666 103.667c-0.001 57.255-46.412 103.667-103.666 103.667z')
            div
                .lib-icon-button.action(data-action='request_quit' title='Quit' size='x2')
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 256 256')
                        path(fill='currentColor' d='M120,216a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V40a8,8,0,0,1,8-8h64a8,8,0,0,1,0,16H56V208h56A8,8,0,0,1,120,216Zm109.66-93.66-40-40a8,8,0,0,0-11.32,11.32L204.69,120H112a8,8,0,0,0,0,16h92.69l-26.35,26.34a8,8,0,0,0,11.32,11.32l40-40A8,8,0,0,0,229.66,122.34Z')